<IfModule mod_rewrite.c>
    RewriteEngine On

    ErrorDocument 404 /404.php

    # Permitir acessar arquivos PHP sem extensão .php
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+?)/?$ $1.php [L]

    # Se não for arquivo ou pasta real, enviar para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

Options -Indexes

RewriteRule ^vendor/ - [F,L]
RewriteRule ^App/ - [F,L]

<FilesMatch "\.(txt|log|ini|sql|env|json|lock)$">
  Require all denied
</FilesMatch>

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>