@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: .5rem;
}

.icon {
    font-size: 1.5rem;
    color: white;
}

.input-wrapper {
    position: relative;
}

.input-wrapper .bi-eye,
.input-wrapper .bi-eye-slash {
    position: absolute;
    top: 2rem;
    right: 10px;
    cursor: pointer;
    color: black;
}

.valida_senha {
    font-size: .8rem;
    font-weight: 400;
    color: rgb(255, 113, 113);
}


.header_home {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.img_logo {
    width: 60px;
}

.link_login {
    padding: .2rem 1rem;
    background-color: #BD9B4F;
    color: white;
    text-decoration: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.content_about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    padding-top: 100px;
}

.content_logo {
    width: 300px;
    height: 300px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background-color: white;
    z-index: 2;
}

.img_logo_grande {
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.content_informacoes {
    width: 100%;
    height: auto;
    padding: 50px 1rem 30px 1rem;
    margin-top: -30px;
    background-color: #421705;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.content_localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.local_text {
    font-size: 1rem;
    color: white;
}

.conteiner_sobre_inferior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
}

.content_sobre_inferior {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.conteiner_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
}

.card_item {
    width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    position: relative;
}

.content_img_lanche {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img_lanche {
    width: 100%;
    border-radius: .5rem;
}

.content_info_lanche {
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
}

.title_lanche {
    font-size: 1.2rem;
    font-weight: 900;
    color: black;
}

.sobre_lanche {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.content_preco {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_preco {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.preco_lanche {
    font-size: 1.1rem;
    font-weight: 700;
    color: #AF460C;
}


/* LOGIN AREA */

.loginsection {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem;
}

.title_login {
    font-size: 2rem;
    font-weight: 600;
}

.form_login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content_input {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.input_label {
    font-size: 1rem;
    font-weight: 500;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    outline: none;
    border-radius: .3rem;
}

.btn_login {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: #BD9B4F;
    color: white;
    border-radius: .5rem;
}

/* MENU APOS LOGIN */

.list_menu {
    flex: auto;
    height: 100%;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: all .2s ease-in;
}

.link_list_item {
    text-decoration: none;
    color: black;
    transition: all .2s ease-in;
}

.link_list_item:hover {
    color: #AF460C;
    transition: all .2s ease-in;
}

.activeMenu {
    color: #BD9B4F;
    transition: all .2s ease-in;
}

/* CADASTRO LANCHE */

.conteiner_principal {
    padding: 0rem 1rem;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.formulario {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
}

.content_img {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.img_preview {
    display: none;
    width: 100%;
    position: absolute;
}

.text_input {
    font-weight: 600;
    font-size: 1rem;
}

.label_img {
    width: 100%;
    max-width: 250px;
    height: auto;
    min-height: 150px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease-in;
}

.label_img:hover {
    background-color: rgb(245, 245, 245);
    transition: all .2s ease-in;
}

.icon_uploads {
    font-size: 2rem;
    transition: all .2s ease-in;
}

.label_img:hover .icon_uploads {
    color: #AF460C;
    transition: all .2s ease-in;
}

.input_img_lanche {
    position: absolute;
    opacity: 0;
}

.input_area {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.max_letter {
    font-size: .8rem;
    font-weight: 400;
    color: #9b9b9b;
}

.btns_content {
    width: 100%;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_form {
    padding: .5rem 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
}

.btn_cancel {
    background-color: white;
    color: #AF460C;
    border: 1px solid #AF460C;
}

.btn_submit {
    background-color: #007E70;
    color: white;
    border: 1px solid #007E70;
}

/* LISTAR LANCHES */

.icon_deletar {
    color: red;
}

.icon_editar {
    color: #007E70;
}

.content_editar_lanche {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .2rem;
    display: flex;
    gap: .5rem;
    background-color: white;
    border-radius: .5rem;
}

.btn_sweet_confirm {
    background-color: #007E70;
    border-color: #007E70;
    color: white;
    outline: none;
    margin: 1rem;
}

.btn_sweet_cancel {
    background-color: red;
    color: white;
    margin: 1rem;
}